@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

.outer-box {
  display: block;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;

  /* width: 1366px; */
  height: 820px;
  /* UI Properties */
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
}
.top-bar {
  display: inline-block;
  width: 100%;
  height: 89px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav-bar {
  display: inline-block;
  width: 100%;
  height: 40px;
  /* UI Properties */
  background: #483191 0% 0% no-repeat padding-box;
  opacity: 1;
}
.main-container {
  text-align: center;
}

.top-heading {
  display: inline-block;
  margin: 16px auto auto auto;
  width: 130px;
  height: 24px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 18px/24px Source Sans Pro;
  letter-spacing: 0px;
  color: #483191;
  opacity: 1;
}
.sub-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-top: 16px;
  width: 90%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.input-container {
  display: block;
  /* UI Properties */
  opacity: 1;
}

.input-div {
  display: inline-block;
  text-align: left;
  height: 62px;
  margin-left: 16px;
  /* UI Properties */
  opacity: 1;
}
.d1 {
  width: 306px;
}
.d2 {
  width: 306px;
}
.d3 {
  width: 213px;
}
.d4 {
  width: 109px;
}

.legend-name {
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 16px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #483191;
  opacity: 1;
}

.in-field {
  width: 95%;
  height: 36px;
  padding-left: 10px;
  font: normal normal 600 16px/22px Source Sans Pro;

  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  opacity: 1;
}
.in-field:focus {
  outline: none;
}
.legend-name-2 {
  height: 19px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 14px/18px Open Sans;
  letter-spacing: 0px;
  color: #454545;
  opacity: 1;
}
.button-container {
  display: block;
  margin-top: 36px;
  text-align: center;
}
.btn-search {
  width: 294px;
  height: 40px;
  /* UI Properties */
  background: #483191 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 8px;
  opacity: 1;
}
.btn-text {
  width: 102px;
  height: 22px;
  /* UI Properties */
  text-align: center;
  font: normal normal 600 16px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.inp-dt::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../../assets/CalendarIcon.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}
